django==5.2.4
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.7.0
python-dotenv==1.1.1
psycopg2-binary==2.9.10
markdown==3.8.2
django-filter==25.1
cryptography==45.0.5
django-redis==6.0.0
redis==6.2.0
gunicorn==23.0.0

boto3==1.39.3
django-storages==1.14.6
Pillow==11.3.0
django-minio-storage==0.5.8
django-imagekit==5.0.0
flower==2.0.1

celery==5.5.3
django-celery-results==2.6.0
django_celery_beat==2.8.1
mongoengine==0.29.1
coverage==7.9.2

drf-yasg==1.21.10

grpcio
grpcio-tools
protobuf
